<!DOCTYPE html>
<html lang="en" xmlns:v-if="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Store Main</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>

<!--<h3>Test</h3>-->
<!--<div id="app">{{message}}</div>-->
<!--<script src="/js/main.js"></script>-->

    <div id="app">
        <form class="login" @submit.prevent="login">
            <h1>Sign in</h1>
            <label>User name</label>
            <input required v-model="username" type="text" placeholder="user name"/>
            <label>Password</label>
            <input required v-model="password" type="password" placeholder="Password"/>
            <button type="submit">Login</button>
        </form>

        <div v-if="username">
            <p> {{ username }}</p>
        </div>
    </div>
</body>

<script>
    var app = new Vue ({
        el: '#app',
        data: {
            username: '',
            password: ''
        }
    })
</script>

</html>

